/target
/.vs
/.vscode
.ipynb_checkpoints/
__pycache__/
flamegraph.svg
perf.data
perf.data.old
/culsynth_web/node_modules
/culsynth_web/package-lock.json
/culsynth_web/package.json
/culsynth_web/dist
/static/pkg
/static_debug